//
//  Development.xcconfig
//  BookxpertAssignment
//
//  Created by Dipak Makwana on 17/10/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// TODO: to make app workable , i have to commit this files , but generally it is bypass in code push 
API_BASE_URL = newsapi.org
NEWS_API_KEY = 23f356e10b5c42ce93254c47a404c6b5
ENVIRONMENT = Development

